body {
   display: flex;
   place-content: center;
}

.signin-page-container {
   display: flex;
   justify-content: space-between;
}

.photo-signin-container {
   position: relative;
   overflow: hidden;
   border-radius: 20px;
   margin: 10px;
}

.photo-signin-container img {
   object-fit: cover;
   height: calc(100vh - 20px);
   display: block;
}

@media (width <= 800px) {
   .photo-signin-container {
      display: none;
      opacity: 0;
   }
   .auth {
      margin-left: 10px !important;
      max-width: 800px !important;
   }
   .signin-page-container {
      display: flex;
      place-content: center;
   }
   .signin-nav {
      display: flex !important;
   }
}

.signin-nav {
   display: none;
}

.photo-signin-container::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   background: linear-gradient(to top, black, transparent);
   pointer-events: none;
   border-radius: 20px;
}

.auth {
   padding: 60px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: "oxygen", Helvetica, sans-serif;
   font-size: 1rem;
   border-radius: 20px;
   width: 100%;
   max-width: 600px;
   height: calc(100vh - 20px);
   margin-top: 10px;
   margin-right: 10px;
   background-image: url(/src/assets/images/signin-background.svg);
   object-fit: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.email-signin-input,
.password-signin-input,
.name-input {
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
}

.email-signin-input .error,
.password-signin-input .error,
.name-input .error {
   border: 2px solid red;
}

.error-label {
   color: red !important;
}

.email-signin-input label,
.password-signin-input label,
.name-input label {
   color: var(--dark-gray-accent);
   font-weight: 500;
   font-size: 0.9rem;
   padding-bottom: 5px;
}

.email-signin-input input,
.password-signin-input input,
.name-input input {
   padding: 3px 5px;
   border-radius: 10px;
   height: 40px;
   background-color: #fff7f2;
   border: 1px solid #f9a978;
   font-weight: 500;
   font-size: 1rem;
   font-family: "oxygen", Helvetica, sans-serif;
   box-shadow: 0 4px 17px rgba(255, 203, 203, 0.1);
   outline: none;
   color: black;
}

.email-signin-input input:focus,
.password-signin-input input:focus,
.name-input input:focus {
   box-shadow: 0 4px 17px rgba(255, 203, 203, 0.18);
   border: 2px solid #f98e4b;
}

.signin-btn {
   background-color: var(--background-secondary-color);
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
   border-radius: 12px;
   padding: 10px 0;
   margin: 5px 0;
   border: none;
   color: var(--text-primary);
   transition: 0.2s all;
   height: 38px;
   width: 100%;
}

.signin-btn:active {
   opacity: 0.8;
}

.auth p {
   text-align: center;
   font-size: 0.8rem;
   color: var(--dark-gray-accent);
}

.auth strong {
   color: rgb(105, 105, 105);
}

.auth strong:hover {
   color: rgb(255, 61, 61);
   cursor: pointer;
}

.alternative-signin {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin: 10px 0;
}

.alternative-signin p {
   color: rgb(105, 105, 105);
}

.light-grey-divider {
   flex: 1;
   height: 1px;
   background-color: lightgray;
}

.google-signin {
   background-color: rgb(254, 106, 57);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0;
   border: 0.5px solid rgb(244, 158, 112);
   box-shadow: 0 4px 17px rgba(255, 124, 2, 0.3);
   border-radius: 10px;
   transition: all 0.2s;
   width: 100%;
   color: white;
}

.google-signin:hover {
   background-color: rgb(253, 95, 42);
   cursor: pointer;
}

.google-signin svg {
   height: 16px;
   margin-right: 8px;
}

.google-signin p {
   font-family: "oxygen", Helvetica, sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
}

.google-signin:active {
   opacity: 0.8;
}

.error-message {
   color: red !important;
   font-size: 0.8rem;
   margin-bottom: 15px;
}

.theme-toggle-sign-in {
   position: absolute;
   bottom: 2%;
   right: 1%;
}

.home-btn {
   position: absolute;
   top: 0;
   right: 0;
   padding: 8px 20px;
   z-index: 100;
   margin: 20px;
   background-color: rgba(46, 24, 1, 0.01);
   backdrop-filter: blur(20px);
   border-radius: 30px;
   border: 1px solid #e3e3e392;
   font-size: 1.2rem;
   font-weight: 600;
}
