body {
   display: flex;
   place-content: center;
}

.auth {
   background-color: var(--background-primary-color);
   padding: 150px 30px 25px 25px;
   display: flex;
   flex-direction: column;
   font-family: "oxygen", Helvetica, sans-serif;
   font-size: 1rem;
   border-radius: 20px;
   width: 84vw;
   max-width: 600px;
   margin: 0 auto;
}

.email-signin-input,
.password-signin-input {
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
}

.email-signin-input label,
.password-signin-input label {
   color: var(--dark-gray-accent);
   font-weight: 500;
   font-size: 0.9rem;
   padding-bottom: 5px;
}

.email-signin-input input,
.password-signin-input input {
   padding: 3px 5px;
   border-radius: 10px;
   height: 40px;
   background-color: #fff7f2;
   border: none;
   font-weight: 500;
   font-size: 1rem;
   font-family: "oxygen", Helvetica, sans-serif;
   box-shadow: 0 4px 17px rgba(255, 203, 203, 0.1);
}

.signin-btn {
   background-color: var(--background-secondary-color);
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
   border-radius: 12px;
   padding: 10px 0;
   margin: 5px 0;
   border: none;
   color: var(--text-primary);
   transition: 0.2s all;
   height: 38px;
   width: 100%;
}

.signin-btn:active {
   opacity: 0.8;
}

.auth p {
   text-align: center;
   font-size: 0.8rem;
   color: var(--dark-gray-accent);
}

.auth strong {
   color: rgb(105, 105, 105);
}

.auth strong:hover {
   color: rgb(255, 61, 61);
   cursor: pointer;
}

.alternative-signin {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin: 10px 0;
}

.alternative-signin p {
   color: rgb(105, 105, 105);
}

.light-grey-divider {
   flex: 1;
   height: 1px;
   background-color: lightgray;
}

.google-signin {
   background-color: rgb(254, 106, 57);
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 0;
   border: 0.5px solid rgb(244, 158, 112);
    box-shadow: 0 4px 17px rgba(255, 124, 2, 0.3);
   border-radius: 10px;
   transition: all 0.2s;
   width: 100%;
   color: white;
}

.google-signin:hover {
   background-color: rgb(253, 95, 42);
   cursor: pointer;
}

.google-signin svg {
   height: 16px;
   margin-right: 8px;
}

.google-signin p {
   font-family: "oxygen", Helvetica, sans-serif;
   font-size: 1.2rem;
   font-weight: 600;
}

.google-signin:active {
   opacity: 0.8;
}

.error-message {
   color: red;
   font-size: 0.8rem;
   text-align: center;
   margin-top: -10px;
   margin-bottom: 15px;
}

.theme-toggle-sign-in {
   position: absolute;
   bottom: 2%;
   right: 1%;
}
