.floating-toc-nav {
   position: fixed;
   top: 50%;
   right: 0;
   max-height: 800px;
   transform: translateY(-50%);
   width: 80px;
   background-color: var(--background-primary-color);
   backdrop-filter: blur(30px);
   border-radius: 40px;
   display: flex;
   justify-content: center;
   transition: all 0.4s ease-in-out;
   z-index: 9999;
   overflow-x: hidden;
   padding: 20px 0;
   overflow-y: scroll;
}

.floating-toc-nav:hover {
   width: 300px;
}

.toc-list {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.toc-item {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 8px 10px;
   cursor: pointer;
   box-sizing: border-box;
   border-radius: 30px;
   padding-right: 0;
}

.toc-item {
   opacity: 0.8;
}

.toc-bar {
   width: 30px;
   height: 3px;
   background: #ffb189;
   border-radius: 2px;
   transition: background 0.2s;
}

.toc-label {
   display: none;
   margin-left: 10px;
   padding: 0 8px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   font-size: 0.9rem;
   color: var(--text-secondary-color);
   width: 230px;
   transition: all 0.25s ease-in-out;
}

.floating-toc-nav:hover .toc-label {
   display: inline-block;
}

.toc-item:hover .toc-bar {
   background: #ff9900;
}

.toc-item.active .toc-bar {
   background: #ff5e00;
}

.toc-item.active:hover .toc-bar {
   background: #ff9900;
}

.toc-item.active .toc-label {
   color: #ff9900;
   font-weight: bold;
}

@media (max-width: 600px) {
   .floating-toc-nav:hover {
      width: 250px;
   }
   .floating-toc-nav {
      width: 25px;
   }
   .toc-bar {
      width: 20px;
   }
   .toc-label {
      width: 186px;
   }
   .toc-item {
      padding: 8px 10px;
   }
}
