.home {
   position: relative;
   padding-top: 180px;
   overflow: hidden;
   background: #235497;
   background: linear-gradient(0deg, rgb(213, 88, 60) 0%, rgb(23, 1, 1) 70%);
}

.clipped-text {
   background: url(/public/img/heroClippedText.png) center/cover;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   aspect-ratio: 16/9;
}

.hero {
   top: 180px;
   z-index: 5;
   min-height: 30vh;
}

.video-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   width: 90%;
   max-width: 1300px;
   margin: 0 auto;
   background: rgba(208, 208, 208, 0.15);
   border: 1px #ffbe96 solid;
   backdrop-filter: blur(50px);
   z-index: 10;
   box-shadow: 0px 0px 20px 10px rgba(244, 155, 125, 0.5);
   aspect-ratio: 16 / 9;
}

.video-glow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 94%;
   height: 115%;
   z-index: 1;
   pointer-events: none;

   background: radial-gradient(
      141.53% 114.68% at 50% 50%,
      rgb(255, 114, 6) 35%,
      rgba(14, 10, 162, 0) 55%
   );
   filter: blur(50px);
   opacity: 0.7;
   mix-blend-mode: plus-lighter;
}

.hero-title {
   transform: translateY(10px);
   animation: fadeIn 1s ease-in-out forwards;
   z-index: 50;
}
.hero-h2-description {
   animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
   0% {
      opacity: 0.2;
      transform: translateY(10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.cta-login {
   background-color: var(--background-secondary-color) !important;
   padding: 8px 28px;
   color: var(--text-secondary-color) !important;
   font-weight: 500;
   font-size: 1rem;
   border: none;
   border-radius: 50px !important;
   transition: all 0.3s ease;
   z-index: 100;
}

.cta-buttons a {
   all: unset !important;
}

.cta-join-button-hero {
   background-color: var(--text-primary-color) !important;
   padding: 6px 18px !important;
   color: var(--background-color) !important;
   font-weight: 500;
   font-size: 1rem;
   border: none;
   border-radius: 50px !important;
   position: relative;
   overflow: hidden;
}

.cta-join-button-hero:hover {
   opacity: 1 !important;
}

.animated-border {
   position: relative;
   display: inline-block;
   padding: 2.5px;
   font-weight: 600;
   color: #fff;
   background: var(--text-primary-color);
   border-radius: 50px;
   z-index: 1;
   overflow: hidden;
}

.animated-border::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300%;
   height: 500%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background: conic-gradient(
      from 0deg,
      #ff6464,
      #5fffbf,
      #72adff,
      #ff78c7,
      #ff6666
   );
   z-index: -1;
   animation: spin 2s linear infinite;
   opacity: 0;
   transition: opacity 0.6s ease;
}

.animated-border:hover::before {
   opacity: 1;
}

@keyframes spin {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.cta-bottom-btn {
   font-size: 1rem !important;
   cursor: pointer !important;
   background-color: #ff6464 !important;
   padding: 10px 25px !important;
   border-radius: 30px !important;
   background: linear-gradient(90deg, #ff3131, #ff914d) !important;
}

.email-mailto {
   text-decoration: underline;
   text-underline-offset: 0.15em;
   cursor: pointer;
   transition: all 0.3s ease;
}

.email-mailto:hover {
   color: #ff914d;
}

.hero-video-wrapper {
   z-index: 10;
   position: relative;
   transform: translateY(-2px);
}

.video-inner {
   overflow: hidden;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 0 22px;
   padding-top: 20px;
}

@media (width <= 768px) {
   .video-inner {
      padding: 0 10px;
      padding-top: 12px;
   }
}

.hero-video {
   width: 100%;
   height: auto;
   display: block;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   z-index: 100 !important;
   aspect-ratio: 16 / 9;
}

.parallax {
   position: relative;
}

@media (width <= 600px) {
   .hero {
      top: 150px;
   }
   .video-inner {
      padding: 0 10px;
      padding-top: 10px;
   }
   .home {
      padding-top: 180px;
   }

   .hero-video-wrapper {
      z-index: 10;
      transform: translateX(7vw);
   }

   .video-container {
      width: 120%;
   }
   .cta-join-button-hero {
      font-size: 0.8rem;
      padding: 6px 15px !important;
   }
   .cta-login {
      font-size: 0.8rem;
      padding: 8px 22px !important;
   }
   .cta-bottom-btn {
      font-size: 0.7rem !important;
   }
}

.gradient-glow {
   background: linear-gradient(
      to top,
      rgba(18, 101, 152, 0.8) 0%,
      rgba(14, 10, 162, 0) 80%
   );
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 55%;
   z-index: 4 !important;
   pointer-events: none;
}

.star-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   pointer-events: none;
   overflow: hidden;
}

.star {
   position: absolute;
   background-color: rgba(255, 255, 255, 0.8);
   border-radius: 50%;
   opacity: 0;
   animation: twinkle infinite alternate ease-in-out;
}

@keyframes twinkle {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0.7;
   }
   100% {
      opacity: 0;
   }
}

.bottom-gradient {
   position: absolute;
   top: 0;
   left: -50%;
   width: 200%;
   height: 50%;
   background: radial-gradient(
      ellipse at top center,
      rgba(225, 90, 0, 0.35) 0%,
      rgba(255, 90, 0, 0.25) 10%,
      rgba(255, 90, 0, 0.08) 50%,
      rgba(255, 90, 0, 0) 70%
   );
   mix-blend-mode: plus-lighter;
   pointer-events: none;
}

.hero-description {
   padding-top: 2%;
   padding-bottom: 6%;
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 6vh;
   place-content: center;
   position: relative;
   max-height: 330px;
   background-color: rgb(13, 3, 0);
   color: white;
   overflow: hidden;
   border-top: 1px solid rgba(255, 100, 0, 0.4);
   border-bottom: 1px solid rgba(77, 43, 1, 0.814);
   box-shadow: 0px 12px 35px rgba(255, 100, 0, 0.35), 0;
}

.hero-description p {
   padding: 0;
   margin: 0;
   color: #a6a5a5 !important;
}

.star-container-bottom {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 5;
   pointer-events: none;
   overflow: hidden;
}

.feature-selector {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   box-sizing: border-box;
   padding: 6px;
   gap: 20px;
   border: 1px solid rgba(253, 187, 107, 0.814);
   box-shadow: 0px 0px 20px 10px rgba(244, 155, 125, 0.1);
   background: rgba(208, 208, 208, 0.1);
   backdrop-filter: blur(40px);
   border-radius: 50px;
   margin: 0 auto;
}

.feature-selector button {
   color: white;
   white-space: nowrap;
   width: 160px;
   font-size: inherit;
   padding: 6px 24px;
   border: 2px solid transparent;
   background-color: transparent;
   cursor: pointer;
   position: relative;
   border-radius: 30px;
   transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
   font-weight: bold;
   text-align: center;
   z-index: 2;
}

.feature-selector button:active {
   opacity: 1;
}

.feature-selector button:hover {
   background: rgba(255, 140, 0, 0.2);
}

.selector-highlight {
   position: absolute;
   left: 6px;
   top: 10%;
   width: 160px;
   height: 80%;
   border: 1px solid rgba(255, 229, 197, 0.7);
   border-radius: 30px;
   transition: transform 0.3s ease-in-out;
   z-index: 1;
   background: rgba(255, 140, 0, 0.2);
}

@media (width <= 700px) {
   .feature-selector {
      gap: 10px;
      padding: 3px;
   }
   .feature-selector button {
      width: 80px;
      font-size: inherit;
      padding: 2px 10px;
   }
   .selector-highlight {
      position: absolute;
      left: 3px;
      top: 10%;
      width: 80px;
      height: 80%;
   }

   .hero-description {
      padding-top: 5%;
      padding-bottom: 8%;
      gap: 3vh;
   }
}

.hero-demo-img {
   width: 100%;
   height: auto;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}
