.home {
   padding-top: 180px;
   overflow: hidden;
   background: #235497;
   background: linear-gradient(0deg, rgb(22, 63, 121) 0%, rgb(1, 13, 23) 50%);
}

.hero-title {
   opacity: 0;
   transform: translateY(10px);
   animation: fadeIn 1s ease-in-out forwards;
   z-index: 50;
}

@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.clipped-text {
   background: url(/public/img/heroClippedText.png) center/cover;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.cta-login {
   background-color: var(--background-secondary-color) !important;
   padding: 8px 23px !important;
   color: var(--text-secondary-color) !important;
   font-weight: 500;
   font-size: 1.2rem;
   border: none;
   border-radius: 50px !important;
   transition: all 0.3s ease;
}

.cta-buttons a {
   all: unset !important;
}

.cta-join-button-hero {
   background-color: var(--text-primary-color) !important;
   padding: 7px 18px !important;
   color: var(--background-color) !important;
   font-weight: 500;
   font-size: 1.2rem;
   border: none;
   border-radius: 50px !important;
   position: relative;
   overflow: hidden;
}
.hero-h2-description {
   animation: fadeIn 1.5s ease-in-out forwards;
}

.cta-join-button-hero:hover {
   opacity: 1 !important;
}

@media (width <= 600px) {
   .cta-join-button-hero {
      font-size: 0.8rem;
   }

   .cta-login {
      font-size: 0.8rem;
   }
}

@media (width <= 600px) {
   .cta-bottom-btn {
      font-size: 0.7rem !important;
   }
}

.animated-border {
   position: relative;
   display: inline-block;
   padding: 2px;
   font-weight: 600;
   color: #fff;
   background: var(--text-primary-color);
   border-radius: 50px;
   z-index: 1;
   overflow: hidden;
}

.animated-border::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300%;
   height: 500%;
   border-radius: 50%;
   transform: translate(-50%, -50%);
   background: conic-gradient(
      from 0deg,
      #ff6464,
      #5fffbf,
      #72adff,
      #ff78c7,
      #ff6666
   );
   z-index: -1;
   animation: spin 2s linear infinite;
   opacity: 0;
   transition: opacity 0.6s ease;
}

.animated-border:hover::before {
   opacity: 1;
}

@keyframes spin {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.cta-bottom-btn {
   font-size: 1rem !important;
   cursor: pointer !important;
   background-color: #ff6464 !important;
   padding: 10px 25px !important;
   border-radius: 30px !important;
   background: linear-gradient(90deg, #ff3131, #ff914d) !important;
}

.email-mailto {
   text-decoration: underline;
   text-underline-offset: 0.15em;
   cursor: pointer;
   transition: all 0.3s ease;
}

.email-mailto:hover {
   color: #ff914d;
}

.video-container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   width: 75%;
   max-width: 1000px;
   margin: 0 auto;
   background: rgba(208, 208, 208, 0.1);
   border: 1px #b6a0ff solid;
   backdrop-filter: blur(50px);
   z-index: 10;
   box-shadow: 0px 0px 20px 10px rgba(110, 91, 169, 0.5);
   /* animation: randomGlow 3s infinite alternate ease-in-out; */
}

.hero-video-wrapper {
   position: relative; 
}

.video-glow {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-60%, -50%);
   width: 90%;
   height: 120%;
   z-index: 1;
   pointer-events: none;

   background: radial-gradient(
      141.53% 114.68% at 87.46% 55.27%,
      rgba(154, 124, 255, 0.8) 36.75%,
      rgba(14, 10, 162, 0) 80%
   );
   filter: blur(50px);
   opacity: 0.6;
   mix-blend-mode: plus-lighter;
}

.video-inner {
   overflow: hidden;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 0 22px;
   padding-top: 20px;
}

.hero-video {
   width: 100%;
   height: auto;
   display: block;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
   z-index: 100 !important;
}

@media (width <= 500px) {
   .video-container {
      width: 86%;
   }
   .video-inner {
      padding: 0 10px;
      padding-top: 10px;
   }
   .home {
      padding-top: 160px;
   }
}

.parallax {
   position: relative;
}

.hero {
   z-index: 1;
   top: 180px;
}

@media (width <= 600px) {
   .hero {
      top: 150px;
   }
}

.gradient-glow {
   background: linear-gradient(
      to top,
      rgba(255, 162, 100, 0.6) 0%,
       rgba(14, 10, 162, 0) 90%
   );
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 55%;
   z-index: 5 !important;
}

.star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    pointer-events: none;
    overflow: hidden;
}

.star {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    opacity: 0;
    animation: twinkle infinite alternate ease-in-out;
}

@keyframes twinkle {
    0% { opacity: 0; }
    50% { opacity: 0.7; }
    100% { opacity: 0; }
}

