html {
  scroll-behavior: smooth !important;
}

img, svg {
  -webkit-user-drag: none !important;
}

body {
  overflow-x: hidden !important;
}

body, html, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  overflow-x: hidden;
  box-sizing: border-box !important;
}

:root {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: #fa9261;
  color: #000;       
}
::-moz-selection {
  background: #fa9261;
  color: #000;
}
