@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.nav {
   position: fixed;
   top: 4vh;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   max-width: 1000px;

   padding: 10px 12px;
   background: rgba(208, 208, 208, 0.1);
   backdrop-filter: blur(12px);
   border-radius: 40px;
   z-index: 100;
   transition: all 0.2s all;
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
}

.nav-logo {
   display: flex;
   align-items: center;
   gap: 2px;
   cursor: pointer;
}

@media (width <= 600px) {
   .nav-logo-container-hidden {
      display: none !important;
      opacity: 0 !important;
   }
   .nav-dash {
      gap: 10px !important;
   }
   .search-bar-container {
      margin-right: 10px !important;
      margin-left: 0 !important;
      padding: 2px 10px;
   }
   .nav {
      width: 90%;
      padding: 8px 12px;
   }
   .nav-logo img {
      height: 30px !important;
      width: 30px !important;
   }
   .nav-logo p {
      font-size: 1.1rem !important;
   }
   .cta-btn-join-nav {
      padding: 6px 15px;
      background-color: var(--background-color) !important;
      color: var(--text-secondary-color) !important;
      font-weight: 500;
      font-size: 0.9rem;
      border: none;
      border-radius: 40px;
   }
}

.cta-btn-join-nav {
      padding: 9px 20px;
      background-color: var(--background-color) !important;
      color: var(--text-secondary-color) !important;
      font-weight: 500;
      font-size: 0.9rem;
      border: none;
      border-radius: 40px;
   }

.nav-logo img {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   -webkit-user-drag: none;
   animation: fadeIn 0.3s ease-in forwards;
}

.profile-container {
   display: flex;
   place-content: center;
}

.profile-container a {
   all: unset !important;
   text-decoration: none !important;
   color: inherit !important;
   display: contents !important;
   cursor: pointer !important;
   width: fit-content !important;
   height: fit-content !important;
}

.profile-container img {
   height: 35px;
   width: 35px;
   border-radius: 50%;
   -webkit-user-drag: none;
   animation: fadeIn 0.3s ease-in forwards;
}

.nav-logo-container,
.nav-logo-container-hidden {
   display: flex;
   align-items: center;
   gap: 2px;
   cursor: pointer;
}

.nav-logo-container p,
.nav-logo-container-hidden p {
   margin: 0;
   font-size: 1.2rem;
   font-weight: 700;
   color: var(--text-secondary-color);
}

.cta-btn-join {
   background-color: var(--background-color) !important;
   padding: 7px 16px !important;
   color: var(--text-secondary-color) !important;
   font-weight: 500;
   font-size: 1rem;
   border: none;
   border-radius: 40px;
}

button:hover {
   cursor: pointer;
   opacity: 0.9;
}

button:active {
   opacity: 0.7;
}

.nav-links a {
   all: unset !important;
}

.search-bar-container {
   flex: 1;
   display: flex;
   align-items: center;
   background: rgba(236, 236, 236, 0.15);
   box-shadow: 0 3px 10px rgba(46, 24, 1, 0.08);
   border-radius: 30px;
   padding: 5px 12px;
   gap: 10px;
   transition: all 0.2s ease-in-out;
   margin: 0 10px;
}

.search-input {
   width: 100%;
   border: none;
   background: transparent;
   color: var(--text-secondary-color);
   font-size: 16px;
   outline: none;
}

.search-btn {
   background: transparent;
   border: none;
   cursor: pointer;
   transition: transform 0.2s ease;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 5px;
   border-radius: 50%;
}

.search-btn:hover {
   transform: scale(1.05);
}

.nav-dash {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 3px;
   width: 100%;
   padding: 12px 16px;
   background: rgba(191, 191, 191, 0.05);
   backdrop-filter: blur(10px);
   z-index: 1000;
   transition: all 0.2s all;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
   transition: all 0.3s ease-in-out;
}

.nav-open {
   width: calc(100% - 240px) !important;
   right: 0 !important;
   transform: translateX(240px);
   transition: all 0.3s ease-in-out;
}
