@keyframes fadeIn {
   0% {
      opacity: 0;
      transform: translateY(10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.nav {
   position: fixed;
   top: 4vh;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   max-width: 1000px;

   padding: 10px 12px;
   background: rgba(208, 208, 208, 0.1);
   backdrop-filter: blur(12px);
   border-radius: 40px;
   z-index: 100;
   transition: all 0.2s all;
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.1);
}

.nav-logo {
   display: flex;
   align-items: center;
   gap: 2px;
   cursor: pointer;
}

.nav-logo img {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   -webkit-user-drag: none;
   animation: fadeIn 0.3s ease-in forwards;
}

.profile-container {
   display: flex;
   place-content: center;
}

.profile-container img {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   -webkit-user-drag: none;
   animation: fadeIn 0.3s ease-in forwards;
}

.nav-logo-container {
   display: flex;
   align-items: center;
   gap: 2px;
   cursor: pointer;
    
   p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 700;
      color: rgb(205, 106, 39);
   }
}

.cta-btn-join {
   background-color: var(--background-color) !important;
   padding: 8px 16px !important;
   color: var(--text-secondary-color) !important;
   font-weight: 500;
   font-size: 1rem;
   border: none;
   border-radius: 40px;
}

button:hover {
   cursor: pointer;
   opacity: 0.9;
}

button:active {
   opacity: 0.7;
}

.nav-links a {
   all: unset !important;
}