.toggle-container {
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 6px;
   gap: 5px;
   border: 1px solid rgba(200, 200, 200, 0.5);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   background: rgba(230, 230, 230, 0.2);
   backdrop-filter: blur(10px);
   border-radius: 30px;
   position: relative;
   width: calc(2 * 80px + 5px + 12px); /* Adjust width */
}

.toggle-button {
   width: 80px;
   padding: 3px 16px;
   font-size: 14px;
   font-weight: bold;
   border: 2px solid transparent;
   background: transparent;
   cursor: pointer;
   position: relative;
   border-radius: 30px;
   transition: color 0.3s ease, background 0.3s ease;
   text-align: center;
   z-index: 2;
}

.toggle-button:hover {
   background: rgba(255, 165, 0, 0.2);
}

.slider {
   position: absolute;
   left: 6px;
   top: 10%;
   width: 80px;
   height: 80%;
   border-radius: 30px;
   transition: transform 0.3s ease-in-out;
   z-index: 1;
}

.toggle-container[data-selected="company"] .slider {
   transform: translateX(calc(100% + 5px));
}

/* Mobile: Hide toggle, show MultiSelect */
@media (max-width: 600px) {
   .toggle-container {
      display: none;
   }
}

.custom-search-box {
   width: 100%;
   position: relative;
}

.custom-search-box input {
   width: 100%;
   padding: 12px 15px;
   font-size: 16px;
   border: 1px solid #f6d4bf;
   background-color: var(--background-secondary-color);
   color: var(--font-secondary-color);
   border-radius: 32px;
   outline: none;
   transition: all 0.3s ease;
}

.custom-search-box input:hover {
   border-color: #888;
}

.custom-search-box input:focus {
   border-color: #fcb28e;
   box-shadow: 0 2px 12px rgba(253, 124, 68, 0.2);
}

/* Mobile-Specific Adjustments */
@media (max-width: 600px) {
   .custom-search-box input {
      padding: 8px 15px;
      font-size: 14px;
   }
}

.hero-clip-curve {
   transform: translateY(-80%);
   height: 100px;
   background-color: #ffa500;
   width: 100%;
   clip-path: ellipse(50% 48% at 50% 50%);
}

.more-btn {
   border: none;
   margin-top: 20px;
   padding: 8px 20px;
   border-radius: 30px;
}

.store-details,
.product-details {
   position: fixed;
   background-color: var(--background-secondary-color);
   top: 50%;
   left: 5vw;
   width: 90vw;
   max-height: 90vh;
   z-index: 2000;
   border-radius: 20px;
   padding: 30px 50px;
   overflow-y: scroll;
   transform: translateY(-50%);
}

@media (width <= 600px) {
   .store-details,
   .product-details {
      max-height: 80vh;
      padding: 30px 20px;
      left: 8vw;
      width: 86vw;
   }
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(136, 136, 136, 0.1);
   backdrop-filter: blur(5px);
   z-index: 1900;
}

.header-search-cards {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.x-icon:hover {
   opacity: 0.8;
}
